@import '../common/style/default.scss';

.#{$zero-prefix}-btn {
  padding: 2px;
  color: #fff;
  &-primary {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  &-danger {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
  }
}
